/*--Color Pallette--
#0B3954 Prussian Blue
#1E8995 Metalic Seaweed
#8B9DAB Grey Blue
#FF5A5F Pastel Red
#C81D25 Fire Engine Red--*/

/*--Global Style--*/
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #8B9DAB;
    font-family: 'Source Serif Pro', serif;
    font-size: inherit;
    margin: 0;
}

.background {   
    background-image: url(../img/mings.jpg);
    background-size: 100% 200%;
}


.row {
    height: 400px;
    padding-top: 50px;
    padding-bottom: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    height: 300px;
    padding-top: 50px;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #C81D25;
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 8%;
}

h2 {
    font-family: 'Bree Serif', serif;
    color: #0B3954;
    font-size: 2.5em;
    font-weight: 400;
    text-align: center;
    line-height: 100%;
    margin-top: 0;
    
}

h3 {
    color: #0B3954;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    line-height: 100%;
    margin-top: 2; 
}

a {
    color: #1E8995;
}

a:hover {
    color: #0B3954;
    text-decoration: none; 
}

img {
    float: center;
    width: 100%;
    height: 85%;
    display: block;
}

/*--Header and Footer--*/

/*--Header--*/
.profile-img {
    border-radius: 15%;
}

header {
    padding-top: 50px;
    position: relative;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header h1 {
    margin: 0px;
}

header h2 {
    margin: 0px;
}

/*--Footer--*/

footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

/*--Navigation--*/

nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    height: 100%;
}

@media only screen and (min-width: 360px) {
    /* For mobile phones: */

.col-s-1 {
    width: 8.33%;
}
.col-s-2 {
    width: 16.66%;
}
.col-s-3 {
    width: 25%;
}
.col-s-4 {
    width: 33.33%;
}
.col-s-5 {
    width: 41.66%;
}
.col-s-6 {
    width: 50%;
}
.col-s-7 {
    width: 58.33%;
}
.col-s-8 {
    width: 66.66%;
}
.col-s-9 {
    width: 75%;
}
.col-s-10 {
    width: 83.33%;
}
.col-s-11 {
    width: 91.66%;
}
.col-s-12 {
    width: 100%;
}

@media only screen and (min-width: 630px) {
/* For tablets: */

.col-m-1 {
    width: 8.33%;
}
.col-m-2 {
    width: 16.66%;
}
.col-m-3 {
    width: 25%;
}
.col-m-4 {
    width: 33.33%;
}
.col-m-5 {
    width: 41.66%;
}
.col-m-6 {
    width: 50%;
}
.col-m-7 {
    width: 58.33%;
}
.col-m-8 {
    width: 66.66%;
}
.col-m-9 {
    width: 75%;
}
.col-m-10 {
    width: 83.33%;
}
.col-m-11 {
    width: 91.66%;
}
.col-m-12 {
    width: 100%;
}

@media only screen and (min-width: 900px) {
/* For desktop: */

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%; 
}